BasedOnStyle: google
#Custom C++ style
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: true
IndentWidth: 4
NamespaceIndentation: Inner
ReflowComments: true
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -4

#Custom brace settings
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: false
    SplitEmptyFunction: false
